##
# environment.yml: Specification of a conda environment for use with
#      Q# interoperability samples.
##
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
##

name: process-tomography
channels:
- conda-forge
- quantum-engineering
dependencies:
- python>=3.6
- numpy
- scipy
- future
- qutip
- matplotlib<=2.1.2
- ipyparallel
- py
- notebook
- qsharp==0.18.2107.153439
- pip:
    - qinfer
    - duecredit
    - mpltools