###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.sh text eol=lf

###############################################################################
# diff behavior for some non-binary formats
###############################################################################
*.md diff=text
