*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.input-zone {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.input-zone-input {
    flex: 1;
    margin-right: 10px;
}

.operations {
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    height: calc(30vh - 3em);
}
.operations ol {
    border-left: 1px solid #ccc;
}
.operations li {
    list-style-type: none;
}
.operation-children {
    padding-left: 30px;
}

.chart-container {
    position: absolute;
    height: calc(70vh - 1em);
    width: calc(100vw - 2em);
    left: 1em;
    bottom: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
