*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    text-align: center;
    padding: 10px;
}
.toolbar button {
    font-size: large;
}

.state {
    display: flex;
    flex-grow: 1;
}

.operations {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    overflow-y: auto;
    width: 20%;
}
.operations ol {
    border-left: 1px solid #ccc;
}
.operations li {
    list-style-type: none;
}
.operation-children {
    padding-left: 30px;
}

.chart-container {
    left: 1em;
    bottom: 1em;
    flex-grow: 1;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
