*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.toolbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toolbar button {
    font-size: large;
}

.state {
    height: calc(100vh - 40px);
}

.operations {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    width: 20%;
    height: 100%;
    float: left;
}
.operations ol {
    border-left: 1px solid #ccc;
}
.operations li {
    list-style-type: none;
}
.operation-children {
    padding-left: 30px;
}

.chart-container {
    left: 1em;
    bottom: 1em;
    width: 80%;
    height: 100%;
    float: right;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
