##
# environment.yml: Specification of a conda environment for use with
#      Q# interoperability samples.
##
# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
##

name: python-qsharp
channels:
- conda-forge
- microsoft
dependencies:
- python>=3.6
- numpy
- scipy
- qutip
- matplotlib
- notebook
- qsharp==0.21.2112181770b1
