name: Hosted Notebooks Samples Check

on:
  pull_request:
    branches: 
      - feature/samples-gallery
jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      download_urls: ${{ steps.prepare.outputs.urls }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Prepare variables
        id: prepare
        run: |
          FILES=$(git diff origin/${{ github.event.pull_request.base.ref }} --name-only)
          FILE_URLS=""
          REGEX='\"download_url\": \"([^\"]*)\"'
          for file in $FILES; do
            echo "Getting download link for $file"
            RESPONSE=$(curl -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/contents/$file?ref=${{ github.sha }})
            if [[ $RESPONSE =~ $REGEX ]]
            then
              FILE_URL=$BASH_REMATCH[1]
              if [[ $FILE_URL = *.ipynb ]]
                FILE_URLS+="$FILE_URL "
              fi
            fi
          done
          echo "::set-output name=urls::${FILE_URLS}"
  build:
    needs: prepare
    name: Call Azure Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Azure Pipelines Action
        uses: Azure/pipelines@v1.2
        with:
          azure-devops-project-url: ${{ secrets.QUANTUM_PROGRAM_ADO_URL }}
          azure-pipeline-name:  ${{ secrets.HOSTED_NOTEBOOKS_PIPELINE_NAME }}
          azure-devops-token: ${{ secrets.HOSTED_NOTEBOOKS_PIPELINE_ADO_PAT }}
          azure-pipeline-variables: '{''githubRepo'': ''${{ github.repository }}'', ''fileUrls'': ''${{ needs.prepare.outputs.download_urls }}'',''prCommitHash'': ''${{ github.event.pull_request.head.sha }}''}'
      - name: Set status to pending
        run: |
          curl \
          -X POST \
          -H "Accept: application/json" \
          -u achocron:${{ secrets.GITHUB_TOKEN }} https://api.github.com/repos/${{ github.repository }}/statuses/${{ github.event.pull_request.head.sha }} \
          -d '{"state":"pending", "description": "Waiting to be run", "context": "Notebook Samples E2E Test"}'
